<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{requestId}] %logger{36} --- | Incoming request: Method: %X{method} URL: %X{url} User: %X{user} Client IP: %X{clientIp} Response Code: %X{responseCode} Response Time: %X{responseTime} ms - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
